.selectButton{	
	font-size: 18px;

	text-transform: none;
	font-variant: normal;
	font-weight: normal;
	font:bold;
	color:#FFF;
	background-color:#F00;
	text-align: center;
	text-indent: 2mm;
	padding: 9px;
	width: auto;
	height: auto;
	margin-top: 50px;
	float:right;

}

.price{
	color:red;
}

#total{
	font-size: 28px;
	color: #F00;
	font-weight: bolder;
}

.bar,#main{
	width: 920px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}

thead{
	background-color:#999;
}

.title{
	border-top-width: thin;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: double;
	border-right-style: none;
	border-bottom-style: ridge;
	border-left-style: none;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}

th{
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: medium;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: groove;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	
}

.goodPicture{
	width:100px;
}